<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')  %>
    <title>Home</title>
</head>
<body>
    <%-include('./partials/nav')  %>
  
    <h1>Hlo there This is Sourav Sharma</h1>


    <%-include('./partials/head')  %>
</body>
</html>